 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

 *{
  padding: .3rem;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  transition: .3 ease;
 }
 
 /* colors and style (Default)*/
:root{
    --PrimaryColor:hsl(94, 59%, 35%);
    --HoverColor:#bdf094;
    --paleGreen:hsl(96, 75%, 89%);
    --whiteColor:hsl(0, 0%, 100%);
    --blackColor:hsl(0, 0%, 18%);
    --textColor:hsl(240, 1%, 48%);
    --bgColor:hsl(220, 10%, 94%);
    --lineColor:hsl(240, 1%, 40%);
    --greyText:hsl(190, 190, 190);
    --inputColor:hsl(330, 12%, 97%);

    /* font and typography */
    --biggestFontSize:2.5rem;
    --h1FontSize:1.5rem;
    --h2FontSize:1.25rem;
    --h3FontSize:1rem;
    --normalFontSize:.938rem;
    --smallFontSize:.813rem;
    --smallestFontSize:.75rem;

}

 
 html{
  font-size: 90%;
 }

 a{
    text-decoration: none;
 }

 h5{
   
   color: var(--textColor);
   
 }
 h4{
   text-decoration: underline;
   text-underline-offset: 1em;
   text-decoration-color:rgb(191, 184, 184);
 }

 li{
    list-style: none;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
 }

 .icon{
    font-size: var(--h1FontSize);

 }

 img{
    width: 100%;
    height: auto;
 }

 .flex{
    display: flex;
    align-items: center;
  
 }

 
 .grid{
    display: grid;
    align-items: center;
    
   
    
 }

 .btn{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--inputeColor);
    padding: .8rem 1rem;
    color: var(--whiteColor);
    background-color: blue;
 }
 

 .btn .icon{
    margin-left: .5ren;
    
    
 }
 .icon{
   padding-left: 10;
 }

 .btn:hover{
    background: var(--palegreen);
    color:var(--PrimaryColor);
 }

 body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0;
    

 }

 .Container{
    position: relative;
    width: 94vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--whiteColor);
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 2px 2px 8px var(--greyText);
   
    
 }
